__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg
*.egg-info/
*.log

.venv/
env/
venv/
ENV/

pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints/

.idea/
.vscode/

plant_mask_data/
*.blend1
*.bak

.DS_Store
Thumbs.db

build/
dist/
*.o
*.a
*.out
*.class

*.lock
__pycache__/
